<!-- <h1 align="center">Admin Portal</h1> -->
<h1 style="font-size:560%;text-align:center">Admin Portal</h1>
<div>
    <ul>
        <li> <a routerLink="/admin" [routerLinkActive]="['active']">Administrator route</a></li>
        <li> <a routerLink="/finance" [routerLinkActive]="['active']" >Financial route</a></li>
        <li> <a routerLink="/sales" [routerLinkActive]="['active']">Sales route</a></li>
        <li> <a routerLink="/hr" [routerLinkActive]="['active']">HR route</a></li>
        <li> <a routerLink="/engineering" [routerLinkActive]="['active']">Engineering route</a></li>
        <li> <a routerLink="/su" [routerLinkActive]="['active']">Superuser route</a></li>
    </ul>
</div>

