<h1 style="font-size:560%;text-align:center">Sales route!</h1>
<div>
    <ul>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Manage User Accounts</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Assign Roles</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Help Desk</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Sales Reports</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Sales Leads</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Sales Demo</a></li>
    </ul>
</div>