<h1 style="font-size:560%;text-align:center">Super User Route!</h1>
<div>
    <ul>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Manage User Accounts</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Assign Roles</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Help Desk</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Application Monitoring</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Tech Support</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">App Development</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">App Admin</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Release Management</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Finance Reports</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Accounts Payable</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Accounts Receivables</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Tax</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">New Hire</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">On-boarding</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Benefits</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Payroll</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Terminations</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">HR Reports</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Sales Reports</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Sales Leads</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [routerLinkActive]="['active']">Sales Demo</a></li>
    </ul>
</div>